.Profile {
  .title {
    text-align: center;
  }

  p {
    margin-bottom: 0;
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    //align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 576px;
    margin: 20px auto;
  }

  button {
    margin-left: 8px;
  }

  .password-button {
    margin-left: 0;
  }
}
