.CreateBlogPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 992px;
  margin: 0 auto;
  margin-bottom: 20px;
  
  h2 {
    margin-bottom: 20px;
  }

  .form-container {
    display: flex;
    width: 100%;

    .form-inputs {
      flex: 1;
      margin-right: 40px;

      label {
        display: block;
        margin-bottom: 8px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
      }

      textarea {
        height: 240px;
      }
    }

    .preview {
      margin-top: 0;
      margin-bottom: 8px;
    }

    .preview-container {
      flex: 1;

      h3 {
        margin-bottom: 10px;
      }

      .markdown-preview {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px 20px;
        min-height: 320px;

        .title {
          margin-top: 10px;
        }
      }
    }
  }
}
