body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 16px;
}

button {
  padding: 10px;
  background-color: #3DA463;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #43B86E;
}

button:disabled {
  background-color: #3DA463B8;
  cursor: not-allowed;
}

.toast-success {
  background-color: #3DA463;
}

.toast-top-right {
  margin-top: 48px;
}
